@using ASP.NetProject.Models

@model List<ProductModel>
<h4> This is the index for Product Contoller </h4>
<h6> Welcome </h6>
<a href="/product/add" class="btn btn-secondary">
	add product	
</a>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Price</th>
			<th>Quantity</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var prod in Model)
		{
			<tr>
				<td>@prod.Name</td>
				<td>@prod.Description</td>
				<td>@prod.Price</td>
				<td>@prod.Quantity</td>
			</tr>
		}
	</tbody>
</table>